$key-primary-color: #3a424e;
$key-secondary-color: #1c232e;
$letter-primary-color: white;
$letter-secondary-color: #808080;
$keyboard-bg-color: #888888;
$key-active-color: #2cfd72;
$body-width: 700px;
$key-size: 40px;
